In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from metaflow import Metaflow, Flow, Run, Step
import common

In [3]:
print(Metaflow().flows)

[Flow('Train')]

In [4]:
# These are the class names of your flow specs
flow_map = {'TRAIN': 'Train', 'PREDICT': 'Predict'}
# Pick one to debug in this notebook
debug_key = 'TRAIN'
# What step are you debugging?
debug_step_name = 'foreach_fold'
# What artifact are you looking at?
debug_artifact_name = ''
flow = Flow(flow_map[debug_key])
print(list(flow))
# What run ID?
run_id = list(flow)[0].id  # Get the latest run ID
#run_id = '1621360113161437'  # Or fully qualify the run ID if you know it
print(run_id)

[Run('Train/1621360258148759'), Run('Train/1621360113161437')]
1621360258148759

In [5]:
data = list(Step(f'{flow_map[debug_key]}/{run_id}/{debug_step_name}'))[0].data
data

In [6]:
df = data.df
df

,target,num_0,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,cat
0,-218.853766,0.396007,-1.093062,0.539249,-0.769916,-0.208299,-0.635846,-0.674333,0.576591,0.676433,0.031831,type_0
1,188.815412,1.849591,-0.214167,0.265688,-0.451303,0.019279,0.719984,0.723100,-0.101697,-1.102906,0.024612,type_0
2,122.535122,-0.852586,0.022960,0.645055,-0.532490,1.681922,0.468385,1.011842,-0.667713,1.735879,-0.657951,type_0
3,-25.764331,-0.370704,-0.945616,-2.320594,0.286904,-1.318396,0.225609,0.317161,-0.067276,0.449712,0.520041,type_0
4,-467.003639,0.352817,-0.152774,-1.401347,-0.817493,-0.263937,-1.226622,1.030438,-0.055353,0.967446,-2.047324,type_0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,-723.943434,-0.535270,0.025405,-1.153950,-2.582797,-0.406072,-1.032643,-0.347962,-1.642965,-0.436748,-1.353389,type_0
96,2.167896,1.466579,0.852552,-0.222675,0.567290,1.141102,-0.291837,-0.353432,0.857924,-0.761492,-1.616474,type_0
97,-386.092904,0.115148,-0.379148,0.417319,-1.550429,-1.660700,-1.405963,-0.944368,-0.110489,-0.590058,0.238103,type_0
98,-203.314236,-0.387327,-0.302303,0.378163,0.154947,1.202380,-0.347912,-0.887786,1.230291,0.156349,-1.980796,type_0
99,181.612333,-0.131054,1.133080,-1.829740,0.453782,-1.118312,0.589880,0.037006,-0.805627,-0.363859,0.767902,type_0